body {
	background-image: url(../images/bg.jpg);
	margin: 0px;
	padding: 0px;
	color: #333;
	font-family: "Trebuchet MS", Arial, Verdana;
	font-size: 12px;
	
}
a {
	color: #CC6600;
	font-weight: bold;
}
form
{
	margin: 0px 35px 0px 35px;
	width: 400px;
	line-height: 17px;
}
.label
{
	font-style: italic;
	margin-top: 5px;
	position: relative;
	width: 175px;
	clear: both;
}

.textField
{
	width: 175px;
	clear: both;
	background: #FFF;
	border: 0px none #000;
	border-bottom: 1px solid #831;
}
.submit
{
	margin-top: 5px;
	margin-left: 43px;
	width: 87px;
	border: 1px solid #000;
	background: #E5e5e5;
}
#wrap {
	width: 845px;
	margin: 10px;
}


	#head {
		height: 100px;
		background-color: #333333;
		padding: 3px;
		background-image: url(../images/head.bg2.gif);
	}
	
	#subHead {
		background-color: #000000;
		height: 30px;
	}
	
	#menu {
		margin-top: 20px;
		margin-left: 10px;
	}
	
	#menu img {
		margin-bottom: 2px;
	}
	
	
	
	#content {
		display: block;
		height: 360px;
	}	
	

	#contentMain {
		float: left;
		width: 470px;
		background-color: #FFFFFF;
		padding: 5px;
		overflow: auto;
		height: 360px;
	}
	
	#contentSide {
		float: right;
		width: 330px;
		margin-left: 10px;
		padding: 5px;
		overflow: auto;
		height: 360px;
		background: #eee;
	}


/* ------------------------ */

h1 {
	font-family: "Trebuchet MS", "Lucida Sans", Arial;
	font-weight: normal;
	font-size: 18px;
	margin-top: 0;
	color: #660000;
}

h2 {
	font-family: "Trebuchet MS", "Lucida Sans", Arial;
	font-size: 15px;
	padding: 2px;
	margin: 0px;
	
	margin-bottom: 5px;
	font-weight: bold;
	border-bottom: 1px solid #400;
}

h6 {
	font-family: "Trebuchet MS", "Lucida Sans", Arial;
	font-size: 14px;
	margin: 0;
	margin-top: 4px;
	font-weight: bold;
}

#copyright {
	display: block;
	margin-bottom: 5px;
	background-color: #CCCCCC;
	clear: both;
	padding: 2px;
	color: #000000;
	font-size: 10px;
}
